$white: #fff;
$black: #111;
$blue: #2787d3;
$text: #444;
$text-lighter: #666;

$yellow: #dfce6b; // original: #fef5c0;
$error-red: #ffc7c2;
$red: #e86b5d;
$orange: #fca806;
$green: #30d069;

$line: #ddd;
$grey: #aaa;
$grey-lighter: #eee;
$grey--lightest: #f7f7f7;